<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：必须与 Mapper 接口全类名一致 -->
<mapper namespace="org.opcfoundation.uawebservicedemo.database.mapper.EmployeeMapper">

    <resultMap id="EmployeeResult" type="Employee">
        <id column="Id" property="id"/>
        <result column="Name" property="name"/>
    </resultMap>

    <resultMap id="EmployeeInfoResult" type="EmployeeInfo">
        <result column="Sex" property="sex"/>
        <result column="Birthday" property="birthday"/>
        <result column="PhoneNumber" property="phoneNumber"/>
        <result column="Address" property="address"/>
    </resultMap>

    <select id="getEmployee" resultMap="EmployeeResult">
        SELECT ID, Name FROM Employee WHERE ID = #{id}
    </select>

    <select id="getEmployeeOfDepartment" resultMap="EmployeeResult">
        SELECT e.ID, e.Name FROM employeedepartment ed
        INNER JOIN Employee e ON ed.EmployeeId = e.ID
        WHERE ed.DepartmentId = #{departmentId}
    </select>

    <select id="getEmployeeInfo" resultMap="EmployeeInfoResult">
        SELECT Sex,Birthday,PhoneNumber,Address FROM employeeinfo
        WHERE EmployeeId = #{employeeId}
    </select>
</mapper>