<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：必须与 Mapper 接口全类名一致 -->
<mapper namespace="org.opcfoundation.uawebservicedemo.database.mapper.SkillMapper">

    <resultMap id="SkillResult" type="Skill">
        <id column="ID" property="id"/>
        <result column="SkillName" property="name"/>
        <result column="Description" property="description"/>
        <result column="Level" property="level"/>
        <result column="Category" property="category"/>
        <result column="YearOfExperience" property="yearOfExperience"/>
    </resultMap>

    <select id="getSkillInfo" resultMap="SkillResult">
        SELECT ID, SkillName, Description FROM Skill WHERE ID = #{id}
    </select>

    <select id="getSkillData" resultMap="SkillResult">
        SELECT Level,Category,YearOfExperience FROM Skill WHERE ID = #{id}
    </select>

    <select id="getAllSkillInfo" resultMap="SkillResult">
        SELECT ID, SkillName FROM Skill
    </select>
</mapper>